<form data-abide>
    <fieldset>
        <legend>Add a new Course</legend>
        <div class="name-field">
            <label {{bind-attr for="view.nameField.elementId"}}>Name
                {{input value=newCourseName viewName="nameField" required='' pattern='alpha'}}
            </label>
            <small class="error">This field is required accepts only letters</small>
        </div>


        <div class="points-field">
            <label {{bind-attr for="view.pointsField.elementId"}}>Points
                {{input value=newCoursePoints viewName="pointsField" required='' pattern='integer'}}
            </label>
            <small class="error">This field is required and accepts only numbers</small>
        </div>

        <input class="button radius no-margin" type="submit" value="Add"/>
    </fieldset>
</form>