<form>
    <fieldset>
        <legend>Add a new Course</legend>
        <label {{bind-attr for="view.nameField.elementId"}}>Name</label>
        {{input value=newCourseName viewName="nameField" required='' maxlength='30'}}

        <label {{bind-attr for="view.pointsField.elementId"}}>Points</label>
        {{input value=newCoursePoints viewName="pointsField" required='' type='number' min='1' max='30'}}

        <input class="button radius no-margin expand-small" type="submit" value="Add"/>
    </fieldset>
</form>