<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="assets/stylesheet.css">

    <script src="assets/modernizr.min.js"></script>
</head>
<body>
<script type="text/x-handlebars" data-template-name="application">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1>{{#link-to 'index'}}Course Manager{{/link-to}}</h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="right">
                <li>{{#link-to 'index'}}Home{{/link-to}}</li>
                <li>{{#link-to 'courses'}}Courses{{/link-to}}</li>
            </ul>
        </section>
    </nav>
    <main>
        <div class="row">
            <div class="small-12 columns">
                {{ outlet }}
            </div>
        </div>
    </main>

</script>

<script src="assets/application.min.js"></script>
<script src="assets/templates.js"></script>
<script src="assets/app.js"></script>
</body>
</html>