<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="assets/foundation/css/normalize.css">
    <link rel="stylesheet" href="assets/foundation/css/foundation.css">

    <script src="assets/modernizr/modernizr.js"></script>
</head>
<body>
<script type="text/x-handlebars">

</script>
<script src="assets/jquery/dist/jquery.js"></script>
<script src="assets/handlebars/handlebars.js"></script>
<script src="assets/ember/ember.js"></script>
<!--<script src="assets/ember-data/ember-data.js"></script>-->
<script src="assets/javascripts/app.js"></script>
</body>
</html>